// Note: i hate frontend so don't blame me if the code is awful.

.ud-container {
   display: flex;
   max-width: -webkit-fill-available;

   &.text {
      flex-direction: column;
   }
   
   &.icons {
      flex-direction: row;

      .loading {
         animation: blink infinite 2s ease-in-out;
      }
   }
   
   svg {
      fill: #ddd;
      margin: 5px;
      width: 20px;
      height: 20px;
   }

   .ud-scrollableText {
      color: var(--text-normal);
      white-space: nowrap;
      position: relative;
      font-size: 14px;
      width: -webkit-fill-available;
      text-align: center;
   }
   
   &.userProfile .ud-scrollableText {
      text-align: left !important;
   }
   
}

.ud-connectionsBody {
   div:not(.ud-connections, .ud-container) {
      display: inline-flex;
      margin: 5px;
   }
   
   .loading {
      fill: var(--interactive-muted);
      animation: blink infinite 2s;
      width: 30px;
      height: 30px;
      margin: 5px;
      margin-top: 0;
      margin-left: 0;
   }

   .ud-connections {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 8px;
   }

   .ud-errorIcon {
      width: 35px;
      height: 35px;
      margin-top: -5px;
  }
}

.ud-errorIcon {
   fill: #f04747 !important;
}

.ud-connections img {
   width: 30px;
   height: 30px;
}
.ud-settingsBadge {
   width: 50px;
   height: 50px;
   cursor: pointer;
}

.ud-settingsBadge-container {
   display: inline-flex;
   
   .ud-settingsBadge.disabled {
      opacity: 0.4;
   }
}

@keyframes blink {
   0% {
      opacity: .6;
   }
   50% {
      opacity: .3;
   }
   100% {
      opacity: .6;
   }
}